@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #121212;
  --color-secondary: #232323;
  --color-accent: #8BC5BF;
  --color-accent-hover: #F1F5F9;

  --color-text: #FFFFFF;
}

@layer utilities {
  .main-padding {
    @apply px-[15px] md:px-[15%] xl:px-[25%] pt-10;
  }
}

html {
  font-family: "Montserrat", sans-serif;
  overscroll-behavior: none;
  scrollbar-width: none;

  line-height: 1.6;

  background-color: var(--color-primary);
  color: var(--color-text);
}

::-webkit-scrollbar {
  display: none;
}

.show-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.show-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.show-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 150, 150, 0.6);
}

/* Firefox */
.show-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}